#ignore node modules
node_modules

#ignore package-lock.json
package-lock.json

#ignore tmp folder
.tmp

#ignore dist folder
dist

#ignore messages folder
assets/messages

#ignore .DS_Store
.DS_Store

#ignore other files
.vscode

#jsdoc code
out
*.tmp


coverage

newrelic_agent.log

apidoc/

npm-shrinkwrap\.json

uploads/
