@font-face {
  font-family: "NutanixSoft";
  font-weight: 700;
  src: url("../../../../assets/fonts/NutanixSoft-Bold.eot");
  src: url("../../../../assets/fonts/NutanixSoft-Bold.eot?iefix") format("eot"),
    url("../../../../assets/fonts/NutanixSoft-Bold.ttf") format("truetype"),
    url("../../../../assets/fonts/NutanixSoft-Bold.woff") format("woff"),
    url("../../../../assets/fonts/NutanixSoft-Bold.otf") format("opentype"),
    url("../../../../assets/fonts/NutanixSoft-Bold.svg#webfont") format("svg");
}

@font-face {
  font-family: "NutanixSoft";
  font-weight: 600;
  src: url("../../../../assets/fonts/NutanixSoft-Semibold.eot");
  src: url("../../../../assets/fonts/NutanixSoft-Semibold.eot?iefix")
      format("eot"),
    url("../../../../assets/fonts/NutanixSoft-Semibold.ttf") format("truetype"),
    url("../../../../assets/fonts/NutanixSoft-Semibold.woff") format("woff"),
    url("../../../../assets/fonts/NutanixSoft-Semibold.otf") format("opentype"),
    url("../../../../assets/fonts/NutanixSoft-Semibold.svg#webfont")
      format("svg");
}

@font-face {
  font-family: "NutanixSoft";
  font-weight: 500;
  src: url("../../../../assets/fonts/NutanixSoft-Medium.eot");
  src: url("../../../../assets/fonts/NutanixSoft-Medium.eot?iefix")
      format("eot"),
    url("../../../../assets/fonts/NutanixSoft-Medium.woff") format("woff"),
    url("../../../../assets/fonts/NutanixSoft-Medium.ttf") format("truetype"),
    url("../../../../assets/fonts/NutanixSoft-Medium.otf") format("opentype"),
    url("../../../../assets/fonts/NutanixSoft-Medium.svg#webfont") format("svg");
}

@font-face {
  font-family: "NutanixSoft";
  font-weight: 400;
  src: url("../../../../assets/fonts/NutanixSoft-Regular.eot");
  src: url("../../../../assets/fonts/NutanixSoft-Regular.eot?iefix")
      format("eot"),
    url("../../../../assets/fonts/NutanixSoft-Regular.ttf") format("truetype"),
    url("../../../../assets/fonts/NutanixSoft-Regular.woff") format("woff"),
    url("../../../../assets/fonts/NutanixSoft-Regular.otf") format("opentype"),
    url("../../../../assets/fonts/NutanixSoft-Regular.svg#webfont")
      format("svg");
}

@font-face {
  font-family: "NutanixSoft";
  font-weight: 300;
  src: url("../../../../assets/fonts/NutanixSoft-Thin.eot");
  src: url("../../../../assets/fonts/NutanixSoft-Thin.eot?iefix") format("eot"),
    url("../../../../assets/fonts/NutanixSoft-Thin.ttf") format("truetype"),
    url("../../../../assets/fonts/NutanixSoft-Thin.woff") format("woff"),
    url("../../../../assets/fonts/NutanixSoft-Thin.otf") format("opentype"),
    url("../../../../assets/fonts/NutanixSoft-Thin.svg#webfont") format("svg");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:global #app-root {
  height: 100%;
  /* background: url(../../../../assets/images/pulserBg.jpg) no-repeat center center fixed;
  background-size: cover; */

  /* background-color: #f8f9fa; */
}
:global .ant-card-body {
  font-weight: 500px;
}
:global .ant-select {
  margin-left: 10px;
}
:global .ant-card-head-title {
  font-weight: 600;
}
:global body {
  font-family: NutanixSoft, sans-serif;
  color: #22272e;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background: url(../../../../assets/images/pulserBg.jpg) no-repeat center
    center fixed;
  background-size: cover;
  /* min-width: 100%;
  min-height: 100%; */
}

:global ul {
  list-style: none;
  padding-left: 0;
}

.header {
  background: black;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

.content {
  padding: 20px 58px 40px 58px;
}

.main {
  /* height: 100%; */
}

.layoutContent {
  overflow: auto;
  background: transparent;
  background: url(../../../../assets/images/pulserBg.jpg) no-repeat center
    center fixed;
  background-size: cover;
}
.appContent {
  /* position: absolute; */
  background: url(../../../../assets/images/pulserBg.jpg) no-repeat center
    center fixed;
  background-size: cover;
  /* background: transparent; */
}
